h1 {
    margin-bottom: 50px;
}

h4 {
    text-align: center;
}

.form-codigo-buscar-contenedor{
    text-align: center;
}

.detalles {
    margin: 1000px;
    margin-top: 75px;
    margin-left: 200px;
    margin-right: 200px;
}

// report search 
.form-codigo-buscar-contenedor {
  margin-top: 40px;
}