.barra-nav__header-superior {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.menu__principal {
    text-align: right;
    margin-top: 30px !important;
    
}

.barra-nav__datos-usuario {
    background-color: rgb(37, 37, 37);
    color: white;
    text-align: right;
}

.menu__principal li a, .barra-nav__datos-usuario ul li{
    list-style-type: none;
    display: inline;
    color: red;
}








/**** Footer ****/

.footer-container {
    width: 100%;
    height: 75px;
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 20px;
}

.footer-container__instagram-icon,
.footer-container__logout {
    color: white;
}

